[submodule "examples/fmi-standard"]
	path = examples/fmi-standard
	url = https://github.com/modelica/fmi-standard.git
[submodule "docs/theme"]
	path = docs/theme
	url = https://github.com/modelica/ma-asciidoctor-theme
